@media only screen and (max-width: 800px) {
    .header.clicked{
       
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-parent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 12.7vh;
    }
    .nav-list{
        display: none;
        height: 0px;    
    }
    .nav-list.clicked{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 85vh;
    }
    .nav-list li a{
        font-size: 30px;
        margin-top: 20px;
    }
    .span-list, .logo{
        display: inline-block;
    }
    .span-list{
        display: flex;
        flex-direction: column;
        float: right;
        padding: 2px;
        
    }
    .span-child{
        width: 50px;
        height: 3px;
        border-radius: 3px;
        background-color: white;
        margin: 3px;
    }
    .logo h1{
        padding: 15px;
    }
}
